@import url('../../components/styles/Colors.css');

.Home{
  background-color: var(--light-gray);
}

.Home__SecondSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3em;
}
.SecondSection__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.SecondSection__image {
  width: 550px;
  margin: 35px 20px;
}
.Home__photoGallery{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.PhotoGalery__content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}