.SectionCard{
  display: flex;
  flex-direction: column;
}
.SectionCard__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  width: 500px;
  height: 300px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  background-color: white;
}
.Text__container{
  text-align: right;
  margin:20px;
}
.Image__container img{
  height: 200px;
}
.SectionCard__button{
  position: relative;
}
.Button__card{
  position: absolute;
  top:-65px;
  right: 100px;
}